# Object files
*.o
*.ko
*.obj
*.elf
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# Autoconf
Makefile.in
Makefile
/configure
/configure
/aclocal.m4
/autom4te.cache
/compile
/config.log
/config.status
/depcomp
/install-sh
/missing
.deps
